.scroll_css {
    
  }
  .scroll_css::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .scroll_css::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #E4E1E1;
    background-clip: padding-box;
    border: 2px solid transparent;
  }
  .scroll_css::-webkit-scrollbar-track {
    width: 10%;
    border-radius: 100px;
    background-color: #FFFFFF;
  }